footer.footer.container-fluid
  .row
    .footer__copyright-first.col-sm-3
      div
        |&#169; 2012–2018
        br
        |ООО «Название компании»
      img(src='./img/comodo-cert.png', alt='Comodo Certificate')
    .footer__site-nav.col-sm-3
      nav
        ul.list-unstyled
          li
            a(href='#') О сервисе
          li
            a(href='#') Способы оплаты
          li
            a(href='#') Как это работает
          li
            a(href='#') Партнёрам
          li
            a(href='#') Статьи и новости
    .footer__contacts.col-sm-3
      p.h4
        a(href='tel:88001234567') 8 800 123 4567
      small звонок по России бесплатный
      ul.list-unstyled
        li
          a(href='#') Обратная связь
        li
          a(href='#') Мы вКонтакте
    .footer__copyright-second.col-sm-3
      div
        | Дополнительные ссылки и копирайты ООО «Фирма 2»
      img(src='./img/logo-2.svg', alt='Logo')
