header.header.container-fluid
  .row
    .header__list-of-services.col-xs-2.col-sm-4.pull-left.text-left
      .dropdown
        button.dropdown-toggle#list-of-services(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
          span.hidden-xs Список услуг
          span.caret.hidden-xs
          img.icon-bar.visible-xs-inline-block(src='./img/toggle-nav.svg', alt='Toggle')
        ul.dropdown-menu(aria-labelledby='list-of-services')
          li
            a(href='#') Услуга 1
          li
            a(href='#') Услуга 2
          li
            a(href='#') Услуга 3
    .header__logo.col-xs-8.col-sm-4.center-block.text-center
      img.logo(src='./img/logo-main.jpg', alt='Logo')
    .header__user-account.col-xs-2.col-sm-4.pull-right.text-right
      a.hidden-xs(href='#') Личный кабинет
      img.user-logo.visible-xs-inline-block(src='./img/user-logo.png', alt='User Profile')
